﻿@model RealMenu.ViewModels.FoodDetail;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center">
    <h1>@Model.Name</h1>
</div>

<div class="container pb-5">
    <div>
        <div >
            <form class="form" asp-action="UpdateFood" asp-controller="FoodDetails" asp-anti-forgery="true" method="post">
                <input type="hidden" asp-for="Id" name="Id" value="@Model.Id" />
                <img class="img-thumbnail" src="@Model.ImageUrl" alt="@Model.Name" />
                <h5>Ссылка на картинку: <input type="text" asp-for="ImageUrl" name="ImageUrl" value="@Model.ImageUrl" /></h5>
                <h5>Еда: <input type="text" asp-for="Name" name="Name" value="@Model.Name" /></h5>
                <h5>Описание: <input type="text" asp-for="Description" name="Description" value="@Model.Description" /></h5>
                <h5>Цена: <input type="text" name="Price" value="@Model.Price" /></h5>
                <h5>Ингридиенты: <input type="text" asp-for="Ingredients" name="Ingredients" value="@Model.Ingredients" /></h5>
                <h5>Минимальный размер: <input type="text" asp-for="MaxSize" name="MaxSize" value="@Model.MaxSize" /></h5>
                <h5>Максимальный размер: <input type="text" asp-for="MinSize" name="MinSize" value="@Model.MinSize" /></h5>
                <h5>Острая: <input type="checkbox" name="Spicy" checked="@Model.Spicy == 1" /></h5>
                <h5>Аллергенны: <input type="checkbox" name="Allergens" checked="@Model.Allergens == 1"/> </h5>
                <h5>Вегетарианская: <input type="checkbox" name="Vegetarian" checked="@Model.Vegetarian == 1" /></h5>
                <h5>Вес еды: <input type="text" asp-for="Weight" name="Weight" value="@Model.Weight" /></h5>
                <div>
                    <input type="submit" class="btn btn-outline-info" value="Отредактировать" />
                </div>
            </form>
        </div>
    </div>
</div>


