﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
    <authentication mode="Windows" />
    <title>@ViewBag.Title</title>
</head>
<body>
    
        @RenderBody()
</body>
</html>
