﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Login";
    
}
@model RealMenu.ViewModels.LoginModel
<div class="LoginContaner" id="container">

    <!-- sign in page -->
    <div class="form-container sign-in-container">
       
        <form class="form" id="login" asp-action="Login" asp-controller="Account" method="post">
            <h1 class="form__title">Login</h1>
            <div class="validation" asp-validation-summary="ModelOnly"></div>
            <div class="form__input-group">
                <label asp-for="Email">Введите Email</label>
                <input type="text" asp-for="Email" class="form__input" name="Email" id="username" maxlength="20" required />
                <span asp-validation-for="Email" />
            </div>
            <div class="form__input-group">
                <label asp-for="Password">Введите пароль</label>
                <input asp-for="Password" class="form__input" name="Password" id="pass" maxlength="20" required />
                <span asp-validation-for="Password" />
            </div>
            <div class="form__input-group">
                <button type="submit" class="form__button">Submit</button>
            </div>
            <small id="passwordHelp" class="text-danger">
                @Html.ValidationMessage("LoginError")
            </small>
        </form>
    </div>

    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Welcome Back!</h1>
                <p>Please login with your personal info</p>
                <button class="ghost" id="signIn">Sign In</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Hello, Friend!</h1>
                <p>Enter your personal details and start</p>
            </div>
        </div>
    </div>
</div>
