﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Restaurant";

}
@model RealMenu.ViewModels.RestaurantView

<div class="container pt-5">
    <div class="row">
        <!--
        <div class="col">
            <img class="img-responsive img-rounded" src="@Model.restaurant.ImageUrl" alt="@Model.restaurant.Name" width="304" height="236" />
        </div>-->

        <div class="col">@Model.restaurant.Name</div>
        <div class="col">@Model.restaurant.Status</div>
        <div class="col">@Model.restaurant.Description</div>
    </div>
    <div class="row row-cols-3 pt-5">
        <div>Количество прсомотров на IOS: @Model.IOSViewCount</div>
        <div>Количество проcмотров на Android: @Model.AndroidViewCount</div>
        <div>Количество кликов на рекламу: @Model.AdvertisementClick</div>
    </div>
    @{
    foreach (var category in Model.restaurant.Categories)
    {
        <div class="row pt-2 text-center page-header">
            <h3>@category.Name</h3>
        </div>

        <div class="row">
            @{foreach (var food in category.Foods)
            {
                <div class="col text-center">
                    <img class="img-responsive img-rounded" src="@food.ImageUrl" alt="@food.Name" width="304" height="236" />
                    
                    <h5>Еда: @food.Name</h5>
                    <h6> Цена: @food.Price</h6>
                    <form asp-action="FoodInfo" asp-controller="FoodDetails">
                        <input type="hidden" name="Id" maxlength="20" value="@food.Id" required />
                        <div>
                            <button type="submit" class="btn btn-outline-info">Редактировать</button>
                        </div>
                    </form>
                </div>
            }}
        </div>
    }
    }
</div>
