﻿@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model RealMenu.ViewModels.FoodListViewModel

<h1>Здравствуйте @User.Identity.Name</h1>
<div class="container" >
    <div class="row  row-cols-3">
        @{
        foreach (var item in Model.getAllFoodModel)
        {
            <div class="col">
                <img class="img-thumbnail" src="@item.ImageUrl" alt="@item.Name" />
                <h5>Еда: @item.Name</h5>
                <h6> Цена: @item.Price</h6>
                <form asp-action="FoodInfo" asp-controller="FoodDetails">
                    <input type="hidden" name="Id" maxlength="20" value="@item.Id" required />
                    <div>
                        <button type="submit" class="btn btn-outline-info">Редактировать</button>
                    </div>
                </form>
            </div>
        }
        }
    </div>
</div>

